:root {
    --white-color: #FFFFFF;
    --blue-color: #46BDC5;
    --brown-color: #ECC282;
    --black-color: #000000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


body  {
   margin: 0;
   font-family: "Inter", sans-serif;
}

.wrapper  {
    max-width: 1440px;
    margin: 0 auto;
 }

 a {
    text-decoration: none;
 }
